@import "tailwindcss";

@theme {
  --font-play: "Play", "System-ui", monospace;
  --font-hanken: "Hanken Grotesk", "System-ui", monospace;
}

@layer base {
  * {
    @apply box-border;
    @apply p-0 m-0;
    @apply font-play;
    @apply font-normal;
  }
}


@plugin "daisyui" {
  themes: light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro,
    cyberpunk, valentine, halloween, garden, forest, aqua, lo-fi, pastel,
    fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid,
    lemonade, night, coffee, winter, dim, nord, sunset, caramellatte, abyss,
    silk;
}
