@import "tailwindcss";

@theme {
  --font-play: "Play", "System-ui", monospace !important;
  --font-hanken: "Hanken Grotesk", "System-ui", monospace !important;
}

@layer base {
  * {
    @apply box-border;
    @apply p-0 m-0;
    @apply font-play;
    @apply font-normal;
  }
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
}

@plugin "daisyui" {
  themes: light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro,
    cyberpunk, valentine, halloween, garden, forest, aqua, lo-fi, pastel,
    fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid,
    lemonade, night, coffee, winter, dim, nord, sunset, caramellatte, abyss,
    silk;
}

/* Custom Scrollbar */
* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
